{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="{% get_media_prefix %}base/logo.jpg" alt="" height="80px">
            <h2>Определение эмоционального окраса сообщений в чате</h2>
            <p class="lead">Прототип сервиса, который с помощью машинного обучения определяет эмоциональный окрас входящих сообщений и классифицирует их в одну из трех категорий: негативные, позитивные или нейтральные.</p>
        </div>

        <div class="row justify-content-start">
            <div class="col-6 offset-md-1">
                <h3>Введите текст сообщения</h3>
                <form action="{% url 'message:index-message' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="message" class="form-label"></label>
                        <textarea id="message" class="form-control" name="message" required rows="6"></textarea>
                    </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
            </div>

            <div class="col-3  offset-md-1">
                <h3 class="realty_title">Результат</h3>
                {% if category %}
                    <br>
                    <h5>{{ category }}</h5>
                    <h5>Вероятность {{ percent }}%</h5>
                {% else %}
                    Здесь будет результат
                {% endif %}
            </div>
        </div>
        <hr class="my-4 col-10 offset-md-1">
        <div class="row justify-content-start">
            <div class="col-6 offset-md-1">
                <h3>Загрузите файл Excel</h3>
                <form action="{% url 'message:excel-message' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="excel-file" class="form-label"></label>
                        <input class="form-control" type="file" id="excel-file" name="excel_file" accept=".xlsx">
                    </div>
                <button type="submit" class="btn btn-primary">Загрузить</button>
                </form>
            </div>
            <div class="col-3 offset-md-1">
                <h3>Примеры файлов</h3>
                {% if message_settings.finodays_excel %}
                    <a href="{{ message_settings.finodays_excel.url }}" download  class="btn btn-link float-right">Скачать пример FINODAYS.xlsx</a>
                {% endif %}
            </div>


        <div class="col-10  offset-md-1">
            <h3 class="realty_title">Результат</h3>
            {% if excel_result %}
                {% for page in excel_result %}
                    <h3>{{ page.title }}</h3><br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Sender</th>
                                <th scope="col">Message</th>
                                <th scope="col">Category</th>
                                <th scope="col">Percent</th>
                            </tr>
                        </thead>
                        {% for message in page.messages %}
                                <tbody>
                                    <tr {% if message.Sender == 'CLIENT' %} class="table-secondary" {% endif %}>
                                        <td>{{ message.Date|date:'Y-m-d H:i' }}</td>
                                        <td>{{ message.Sender }}</td>
                                        <td>{{ message.Message }}</td>
                                        <td>{{ message.Category }}</td>
                                        <td>{% if message.Percent %}{{ message.Percent }}%{% endif %}</td>
                                    </tr>
                                </tbody>
                        {% endfor %}
                    </table>
                {% endfor %}

            {% else %}
                Здесь будут результаты
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
